{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {% if validlink %}

<main>
      <div class="container" style="margin-top: 10rem; margin-bottom:10rem;">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center"><h3>Changer votre mot de passe</h3></div>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy}}
              <button class="btn btn-primary float-right" type="submit">Change password</button>
            </form>
          {% else %}
            <p>
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </p>
          {% endif %}

          </div>
        </div>
      </div>
    </main>
{% endblock %}