{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <main>
      <div class="container" style="margin-top: 10rem; margin-bottom:10rem;">
        <div class="card">
          <div class="card-body">
            <h3>Vous avez oublier votre mot de passe</h3>
            <h5>Saisissez votre addresse mail et vous receverai un mail contant les étapes nécessaires.</h5>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button  class="btn btn-primary float-right" type="submit">Valider</button>
            </form>

          </div>
        </div>
      </div>
    </main>


{% endblock %}