{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    body {

     font-family : Lucida, sans-serif;
    }
</style>

<div class="container my-5 p-5 z-depth-1">

  <style>
    .w-200 {
      width: 200px;
    }
  </style>

  <!--Section: Content-->
  <section class="team-section text-center dark-grey-text">

    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Entreprises</h6>
    <!-- Section heading -->
    <h2 class="font-weight-bold text-center dark-grey-text pb-2">Nos client qui nous font confiance</h2>
    <hr class="w-header my-4">
    <!-- Section description -->
    <p class="lead text-center text-muted pt-2 mb-5">Cliquez sur l'un des profiles suivant pour pouvoir consulter leurs profile professionnel</p>

    <!-- Grid row -->
    <div class="row">

        {% for ent in list %}
          <!-- Grid column -->
          <div class="col-md-4 mb-4">

            <div class="w-200 mx-auto mb-4">

              {% if ent.user.profile.photo_de_profile.url != Null %}

                <img src="{{ent.user.profile.photo_de_profile.url}}" style="width:145px; height:120px;" class="z-depth-1 rounded-circle img-fluid" alt="{{ent.organisation}}">
              
                {% else %}

                <img src="{% static 'img/profile.png' %}" style="width:140px; height:125px;" class="z-depth-1 rounded-circle img-fluid" alt="{{ent.organisation}}">
              
              {% endif %}

            </div>
              <h6 class="font-weight-bold"> 
                <a href="{{ent.get_profile_details}}" >{{ent.organisation}}</a>
              </h6>
              

          </div>
          <!-- Grid column -->
        {% endfor %}


    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>

{% endblock content %}